{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "Swiper": "readonly"
  },
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": ["warn"],
    "no-undef": ["error"],
    "comma-dangle": ["error", "never"],
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": true,
        "useTabs": false,
        "tabWidth": 2,
        "trailingComma": "none",
        "printWidth": 120,
        "endOfLine": "auto",
        "arrowParens": "avoid"
      }
    ]
  }
}
