@import 'public/assets/css/functions';
@import 'public/assets/css/mixin';
@import 'public/assets/css/reset';
$viewport-s: 750;

.blind {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.mission-lotte {
  font-family: 'AppleSDGothicNeo';
  color: #000;
  margin: 0 auto;

  .section-header {
    padding-top: 80px;
    text-align: center;
    color: #000;

    &--white {
      color: #fff;
    }

    .header-tit {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.17;

      &__desc {
        display: block;
        margin-top: 8px;
        font-size: 15px;
        line-height: 1.3;
        font-weight: normal;
      }

    }
  }

  .prd-direct-section {
    .section-wrap {
      padding-top: 10px;
      padding-bottom: 25px;
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;

      &--the-beauty {
        background-image: url("/public/lotteOn/images/section_prd_slide_beauty_bg.jpg");
      }

      &--sinsun {
        background-image: url("/public/lotteOn/images/section_fresh_2degree_bg.jpg");
      }

      &--new {
        background-image: url("/public/lotteOn/images/section_prd_slide_store_bg.jpg");
      }
    }

  }

  .sec-prd-list {
    display: flex;
    margin-left: 22px;
    margin-top: 30px;

    &__item {
      width: 162px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      &+li {
        margin-left: 8px;
      }

      .sec-prd-txt {
        text-align: center;
        padding: 17px 0;

        &__title {
          font-size: 14px;
          letter-spacing: -0.025em;
          line-height: 1.42;
        }

        &__brand {
          letter-spacing: 0;
          line-height: 1.5;
          font-weight: bold;
        }

        &__price {
          font-size: 14px;
          line-height: 1.5;
          font-weight: bold;

          .price-percent {
            color: #ff0000;
          }
        }
      }

    }
  }

  .direct-link {
    display: block;
    width: 100%;
    padding: 17px 22px;
    box-sizing: border-box;

    &--the-beauty {
      background-color: #bd6a51;
    }

    &--promotion {
      background-color: #303750;
    }

    &--brown {
      background-color: #4b382c;
    }

    &--black {
      background-color: #000;
    }

    &--green {
      background-color: #103235;
    }

    &-txt {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 14px;
      letter-spacing: -0.05em;
      color: #fff;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 15px;
        background: url("/public/lotteOn/images/brand_direct_box_link_arrow.png") 50% 0 no-repeat;
        background-size: cover;
      }
    }
  }

  .section-banner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    position: relative;

    &--chanel {
      background-image: url("/public/lotteOn/images/chanel_banner_img.png");
    }

    &--harman {
      background-image: url("/public/lotteOn/images/section_banner_harman.png");
    }

    &--thom-browne {
      background-image: url("/public/lotteOn/images/section_banner_thom_browne.png");
    }

    .banner-tit {
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.025em;
      line-height: 1.2;
      margin-left: 22px;
      padding-bottom: 35px;

      &__brand {
        display: block;
        padding-top: 20px;
        letter-spacing: 0.05em;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .section-more-btn {
    display: block;
    padding: 12px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    text-align: center;

    .btn-txt {
      font-size: 14px;
      letter-spacing: -0.025em;

      &::after {
        content: "";
        width: 6px;
        height: 11px;
        margin-left: 10px;
        display: inline-block;
        background: url("/public/lotteOn/images/more_box_link_arrow.png") 50% 0 no-repeat;
        background-size: 6px 11px;
      }
    }
  }

  .lotte-lnb-list {
    display: inline-flex;
    margin-top: 30px;

    &__item {
      flex-shrink: 0;

      &+li {
        margin-left: 23px;
      }

      a.lnb-btn {
        display: block;

        .lnb-txt {
          font-size: 18px;
          color: #fff;
        }
      }
    }

    &--circle {
      .lotte-lnb-list__item {
        &+li {
          margin-left: 5px;
        }

        a.lnb-btn {
          border: 1px solid #f5f5f5;
          box-sizing: border-box;
          padding: 11px 15px;
          border-radius: 20px;

          .lnb-txt {
            font-size: 14px;
            color: #666;
          }

          &.is-on {
            background-color: #000;

            .lnb-txt {
              color: #fff;
            }
          }
        }
      }
    }
  }
}


/* kv-section */
.kv-section {
  .kv-slide {
    position: relative;

    .kv-gnb {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      margin-top: 20px;

      .gnb-list {
        display: inline-flex;

        &__item {
          flex-shrink: 0;

          &+li {
            margin-left: 23px;
          }

          >a.gnb-btn {
            display: block;

            .gnb-txt {
              font-size: 18px;
              color: #fff;
            }
          }
        }
      }
    }

    .kv-slide-list {
      width: calc(100% * 3);
      display: flex;

      &__item {
        position: relative;
        width: 100%;
        height: 100%;

        .kv-txt-wrap {
          position: absolute;
          bottom: 0;
          margin-bottom: 60px;
          margin-left: 22px;
          left: 0;

          .kv-txt {
            color: #fff;
            letter-spacing: -0.025em;

            &--s {
              font-size: 13px;
            }

            &--l {
              line-height: 1.15;
              font-size: 33px;
              padding-top: 35px;
            }

            &--m {
              padding-top: 13px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .kv-slide-controller {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 22px;
      margin-bottom: 23px;

      .kv-btn {
        width: 25px;
        height: 25px;
        background-position: 50% 0;
        background-size: cover;
        background-color: transparent;
        margin-right: 4px;

        &--pause {
          background-image: url('/public/lotteOn/images/main_visual_stop_btn.png');
        }
      }

      .kv-count-wrap {
        display: flex;
        align-items: center;
        background-color: #000;
        opacity: 0.6;
        border-radius: 20px;
        padding: 4px 10px;
        color: #808080;

        .kv-count {
          font-size: 11px;

          &--now {
            color: #fff;
          }
        }

        &::after {
          width: 10px;
          height: 10px;
          content: '';
          display: inline-block;
          background-position: 50% 0;
          background-size: cover;
          background-image: url('/public/lotteOn/images/main_visual_plus_btn.png');
          margin-left: 8px;
        }
      }
    }
  }
}

/* section-nav */
.section-nav {
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  margin-left: 12px;

  .sec-nav-list {
    display: inline-flex;

    &__item {
      flex-shrink: 0;

      >a.sec-nav-btn {
        display: block;
        padding: 20px 12px;

        &.is-on {
          position: relative;

          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            width: 12px;
            height: 4px;
            background-color: #000;
          }

          .sec-nav-txt {
            color: #000;
          }
        }

        .sec-nav-txt {
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}

/* day-event-section */
.day-event-section {
  padding-bottom: 80px;

  .day-event-list {
    display: flex;
    width: 300%;

    &__item {
      width: 100%;

      .section {
        &-header {
          text-align: center;

          .header-tit {
            font-size: 28px;

            .header-desc {
              font-size: 15px;
            }
          }
        }

        &-body {
          .sec-event-list {
            margin-top: 33px;

            &--month {
              display: flex;
              flex-wrap: wrap;
              margin-left: 32px;
              margin-right: 32px;

              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                padding: 0 17px;
                box-sizing: border-box;

                &:nth-child(n + 3) {
                  margin-top: 20px;
                }

                .sec-event-txt {
                  padding-top: 9px;
                  font-size: 14px;
                  letter-spacing: -0.05em;
                }
              }
            }

            &--weekend {
              display: flex;
              flex-direction: column;
              margin-left: 22px;

              li {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &+li {
                  margin-top: 25px;
                }

                img {
                  width: 80px;
                }

                .sec-event-txt {
                  display: inline-block;
                  width: 100%;
                  padding-left: 20px;
                  font-size: 19px;
                  letter-spacing: -0.025em;
                  font-weight: bold;

                  &__desc {
                    font-size: 14px;
                    color: #666;
                  }
                }
              }
            }

            &.add-price-txt {
              li {
                .sec-event-txt {
                  width: 100%;
                  padding-left: 20px;
                  font-size: 14px;
                  font-weight: bold;

                  &__desc {
                    letter-spacing: -0.025em;
                    color: #666;
                    padding-top: 7px;
                  }

                  &__price {
                    color: #666;
                    font-weight: bold;
                    padding-top: 10px;

                    .text-percent {
                      padding-right: 5px;
                      color: #ff0000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* benefit-section*/
.benefit-section {
  padding-bottom: 80px;

  .section-body {
    padding-top: 35px;

    .category-list {
      display: flex;
      margin-left: 22px;

      &__item {
        width: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;

        &+li {
          margin-left: 8px;
        }
      }
    }

    .card-list {
      display: flex;
      margin-left: 22px;

      &__item {
        flex-shrink: 0;
        width: 120px;
        padding: 0 15px 20px;
        box-sizing: border-box;

        &+li {
          margin-left: 9px;
        }

        &--blue {
          background-color: #1d7cf3;
        }

        &--yellow {
          background-color: #ecb215;
        }

        &--gray {
          background-color: #62594d;
        }

        .card {
          color: #fff;
          font-size: 14px;

          &-tit {
            padding-top: 15px;
          }

          &-sale {
            padding-top: 50px;
            font-size: 26px;
            font-weight: bold;
          }

          &-desc {
            padding-top: 15px;
            line-height: 1.35;
          }
        }
      }
    }
  }
}

/* recom-section */
.recom-section {
  margin: 0 17px;
  padding-bottom: 85px;

  .keyword-list {
    padding-top: 33px;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    &__item {
      float: left;
      width: calc(50% - 10px);
      margin: 5px;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      @include vw-s(height, 382);
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(1) {
        background-image: url("/public/lotteOn/images/keyword_item_01.png");
      }

      &:nth-child(2) {
        background-image: url("/public/lotteOn/images/keyword_item_02.png");
      }

      &:nth-child(3) {
        background-image: url("/public/lotteOn/images/keyword_item_03.png");
      }

      &:nth-child(4) {
        background-image: url("/public/lotteOn/images/keyword_item_04.png");
      }

      .keyword-hash {
        font-size: 16px;
        color: #fff;
      }
    }

  }

  .section-more-btn {
    margin: 0 auto;
    width: calc(100% - 10px);
  }

  .brand-list {
    display: flex;
    margin-left: 5px;
    margin-top: 35px;

    &__item {
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      &+li {
        margin-left: 13px;
      }

      .brand-txt {
        padding-top: 13px;
        font-size: 13px;
        letter-spacing: -0.025em;
      }
    }
  }
}

/* promotion-section */
.promotion-section {
  background-color: #000;
  padding-bottom: 85px;

  .section-body {
    padding-left: 22px;
  }

  .promotion-list {
    display: flex;
    gap: 10px;
    padding-top: 27px;

    &__item {
      position: relative;
      width: 330px;
      height: 327px;
      flex-shrink: 0;

      .promotion-txt {
        position: absolute;
        bottom: 0;
        margin-left: 22px;
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        letter-spacing: -0.025em;
        line-height: 1.29;

        &__brand {
          display: block;
          font-size: 14px;
          padding-bottom: 15px;
        }
      }
    }
  }
}

/* focus-section */
.focus-section {
  padding-bottom: 85px;

  .section-body {
    margin: 0 get-percent(44, $viewport-s);
  }

  .popular-list {
    padding-top: 35px;

    &__item {
      box-sizing: border-box;
      border-bottom: 1px solid #ededed;

      .popular-item-btn {
        display: block;
        padding: 22px 0;

        &__txt {
          display: flex;
          font-size: 14px;
          font-weight: bold;

          .brand-txt {
            padding-left: 15px;
            font-size: 15px;
          }

          .update-num {
            margin-left: auto;

            &::before {
              width: 8px;
              height: 5px;
              content: "";
              display: inline-block;
              background-size: 8px 5px;
              background-size: contain;
              vertical-align: middle;
              background-position: 50% 0;
              background-repeat: no-repeat;
              margin-right: 5px;
            }

            &--up {
              color: #ff0000;

              &::before {
                background-image: url("/public/lotteOn/images/Icon_arrow_up.png");
              }

            }

            &--new {
              color: #ff0000;
            }

            &--down {
              color: #999;

              &::before {
                background-image: url("/public/lotteOn/images/Icon_arrow_down.png");
              }
            }
          }
        }
      }

      .popular-prd-list {
        margin-bottom: 30px;
        display: flex;

        &__item {
          &+li {
            margin-left: get-percent(16, 663);
          }

          a {
            display: block;
          }

          .popular-prd-txt {
            text-align: center;
            font-size: 14px;
            padding-top: 25px;

            .prd-price {
              padding-top: 12px;
              font-weight: bold;

              &__percent {
                padding-right: 5px;
                color: #ff0000;
              }
            }
          }
        }
      }
    }
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;

    &__item {
      width: get-percent(154, 662);
      text-align: center;

      &:nth-child(n+5) {
        margin-top: 30px;
      }

      .service-btn__txt {
        padding-top: 10px;
        font-size: 12px;
      }
    }
  }
}

/* scrap-section */
.scrap-section {
  padding-bottom: 85px;

  .section-body {
    margin-left: 22px;
  }

  .lotteon-event-list {
    display: flex;
    gap: 16px;
    padding-top: 35px;

    &__item {
      width: 215px;
      flex-shrink: 0;

      &:nth-child(n+1) {
        .lotteon-event-btn__img {
          height: 350px;
        }
      }

      &:nth-child(2n) {
        .lotteon-event-btn__img {
          height: 200px;
        }
      }

      .lotteon-event-btn__txt {
        width: 100%;
        font-size: 14px;
        letter-spacing: -0.025em;
        line-height: 1.46;

        .btn-brand-txt {
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0;
        }
      }
    }
  }

  .review-list {
    margin: 10px 22px 0;

    &__item {
      padding: 30px 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 1px solid #ededed;

      .review-list__img {
        width: get-percent(255, 728);
      }

      .review-list__txt {
        font-size: 13px;
        margin-left: 30px;

        .prd-txt {
          color: #999;

          .brand-name {
            font-weight: bold;
            color: #000;
          }

          .prd-name {
            display: block;
            padding-top: 10px;
          }
        }

        .review-txt {
          padding-top: 15px;
          line-height: 1.2;
        }

        .review-info {
          color: #999;
          font-size: 12px;
          padding-top: 15px;

          &::before {
            content: "";
            display: inline-block;
            background: url("/public/lotteOn/images/section_review_star.png") 50% 0 no-repeat;
            background-size: 60px 10px;
            width: 60px;
            height: 10px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

/* prefer-section */
.prefer-section {
  padding-bottom: 60px;

  .section-body {
    margin: 0 22px;
  }

  .prefer-prd-list {
    margin-top: 25px;

    &__item {
      .prefer-prd-txt {
        font-size: 14px;
        padding: 14px 0 25px;

        &__title {
          letter-spacing: -0.025em;
        }

        &__brand {
          display: block;
          letter-spacing: 0;
          font-weight: bold;
        }

        &__price {
          padding-top: 12px;
          font-weight: bold;

          .price-percent {
            color: #ff0000;
          }
        }
      }
    }
  }
}

/* food-section */
.food-section {
  padding-bottom: 85px;

  .food-section-img {
    margin: 32px 22px 0;
  }

  .food-prd-txt {
    text-align: center;
    font-size: 14px;

    &__brand {
      padding-top: 17px;
      font-weight: bold;
    }

    &__price {
      padding-top: 13px;
    }
  }

  .section-more-btn {
    width: calc(100% - 44px);
    margin: 20px auto 0;
  }
}

/* trend-section */
.trend-section {
  padding-bottom: 85px;

  .section-body {
    margin: 0 22px;
  }

  .trend-promotion {
    margin-top: 35px;
    background: url("/public/lotteOn/images/direct_box_diptyque.png") 50% 0 no-repeat;
    background-size: cover;
    @include vw-s(height, 370);
    color: #fff;
    position: relative;

    .promotion-txt {
      position: absolute;
      bottom: 0;
      margin-left: 23px;
      margin-bottom: 26px;

      .brand-name {
        font-size: 14px;
      }

      .brand-desc {
        padding-top: 15px;
        line-height: 1.29;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .trend-list {
    padding: 16px 0 20px;

    &__item {
      box-sizing: border-box;
      border-bottom: 1px solid #ededed;

      .trend-prd-link {
        padding: 15px 0;
        display: flex;
        align-items: center;

        .trend-prd-txt {
          padding-left: 15px;

          &__title {
            font-size: 14px;
            letter-spacing: -0.025em;
            line-height: 1.42;
          }

          &__brand {
            letter-spacing: 0;
            line-height: 1.5;
            font-weight: bold;
          }

          &__price {
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;

            .price-percent {
              color: #ff0000;
            }
          }
        }
      }
    }
  }
}

.mission-lotte-util {
  background-color: #000;

  &__inner {
    display: flex;
    align-items: center;
    padding: 15px 20px;

    .util-logo {
      @include vw-s(height, 40);
    }

    .util-list {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: space-between;
      @include vw-s(width, 387);

      &__item {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 0;
        @include vw-s(width, 50);
        @include vw-s(height, 50);

        &--menu {
          background-image: url("/public/lotteOn/images/lotte_on_footer_util_menu.png");
          @include vw-s(height, 40);
        }

        &--search {
          background-image: url("/public/lotteOn/images/lotte_on_footer_util_search.png");
          @include vw-s(height, 40);
        }

        &--my {
          background-image: url("/public/lotteOn/images/lotte_on_footer_util_my.png");
        }

        &--cart {
          background-image: url("/public/lotteOn/images/lotte_on_footer_util_cart.png");
        }

        &--notice {
          background-image: url("/public/lotteOn/images/lotte_on_footer_util_notice.png");
        }
      }
    }
  }
}
