@import 'public/assets/css/functions';
@import 'public/assets/css/mixin';
@import 'public/assets/css/reset';
$viewport-s: 750;

.blind {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.mission-lotte {
  font-family: "AppleSDGothicNeo";
  color: #000;
  margin: 0 auto;
}

/* kv-section */
.kv-section {
  .kv-slide {
    position: relative;

    .kv-gnb {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      margin-top: 20px;

      .gnb-list {
        display: inline-flex;

        &__item {
          flex-shrink: 0;

          &+li {
            margin-left: 23px;
          }

          >a.gnb-btn {
            display: block;

            .gnb-txt {
              font-size: 18px;
              color: #fff;
            }
          }
        }
      }
    }

    .kv-slide-list {
      width: calc(100% * 3);
      display: flex;

      &__item {
        position: relative;
        width: 100%;
        height: 100%;

        .kv-txt-wrap {
          position: absolute;
          bottom: 0;
          margin-bottom: 60px;
          margin-left: 22px;
          left: 0;

          .kv-txt {
            color: #fff;
            letter-spacing: -0.025em;

            &--s {
              font-size: 13px;
            }

            &--l {
              line-height: 1.15;
              font-size: 33px;
              padding-top: 35px;
            }

            &--m {
              padding-top: 13px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .kv-slide-controller {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 22px;
      margin-bottom: 23px;

      .kv-btn {
        width: 25px;
        height: 25px;
        background-position: 50% 0;
        background-size: cover;
        background-color: transparent;
        margin-right: 4px;

        &--pause {
          background-image: url("/public/lotteOn/images/main_visual_stop_btn.png");
        }
      }

      .kv-count-wrap {
        display: flex;
        align-items: center;
        background-color: #000;
        opacity: .6;
        border-radius: 20px;
        padding: 4px 10px;
        color: #808080;

        .kv-count {
          font-size: 11px;

          &--now {
            color: #fff;
          }
        }

        &::after {
          width: 10px;
          height: 10px;
          content: "";
          display: inline-block;
          background-position: 50% 0;
          background-size: cover;
          background-image: url("/public/lotteOn/images/main_visual_plus_btn.png");
          margin-left: 8px;
        }
      }
    }
  }

}

/* section-nav */
.section-nav {
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
  margin-left: 12px;

  .sec-nav-list {
    display: inline-flex;

    &__item {
      flex-shrink: 0;

      >a.sec-nav-btn {
        display: block;
        padding: 20px 12px;

        &.is-on {
          position: relative;

          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            display: block;
            width: 12px;
            height: 4px;
            background-color: #000;
          }

          .sec-nav-txt {
            color: #000;
          }
        }

        .sec-nav-txt {
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}

/* day-event-section */
.day-event-section {
  .day-event-list {
    &__item {
      .section {
        &-header {
          .header-tit {
            font-size: 28px;

            .header-desc {
              font-size: 15px;
            }
          }
        }

        &-body {
          .sec-event-list {
            &--month {
              display: flex;
              flex-wrap: wrap;
              margin: 0 32px;

              li {
                width: 50%;
                padding: 0 17px;
                box-sizing: border-box;

                &:nth-child(2n) {
                  margin-top: 20px;
                }

                .sec-event-txt {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
