@import 'public/assets/css/functions';
@import 'public/assets/css/mixin';
@import 'public/assets/css/reset';
$viewport-s: 750;

.blind {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.mission-lotte {
  font-family: "AppleSDGothicNeo";
  color: #000;
  max-width: 750px;
  margin: 0 auto;
}

/* kv-section */
.kv-section {
  .kv-slide-wrap {
    width: 750px;

    .kv-slide-list {
      &::after {
        content: "";
        clear: both;
        display: block;
      }

      width: clac(100% * 3);
      height: 1022px;

      &__item {
        float: left;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;

        &:nth-child(1) {
          background-image: url(/public/lotteOn/images/main_visual_img01.png);
        }

        &:nth-child(2) {
          background-image: url(/public/lotteOn/images/main_visual_img02.png);
        }

        &:nth-child(3) {
          background-image: url(/public/lotteOn/images/main_visual_img03.png);
        }

        .kv-txt-wrap {
          padding-left: 23px;
        }
      }
    }
  }
}
