@import 'public/assets/css/functions';
@import 'public/assets/css/mixin';
$viewport-s: 1080;

.header {
  margin: 0 20px;
}

button {
  cursor: pointer;
}

.menu-slider {
  position: relative;
  height: 21px;
  margin-top: 24px;

  .menu-list {
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    scroll-snap-type: x proximity;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      flex-shrink: 0;

      &.is-on {
        .text {
          position: relative;
          color: #212121;
          font-weight: bold;

          &::after {
            z-index: -1;
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 9px;
            background-color: #ffdc00;
          }
        }
      }

      &+li {
        margin-left: 20px;
      }
    }

    .text {
      font-size: 16px;
      font-weight: 500;

      letter-spacing: -0.05em;
      color: #9da0a3;
    }

  }
}

.icon--plus {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: url("/public/mAble/mable_main_flus_icon.jpg") no-repeat 50% 0/cover;
    width: 11px;
    height: 11px;
  }
}

.section__title {
  margin: 24px 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.mable-header {
  display: flex;
  align-items: center;
  height: 56px;

  h1 {
    flex-shrink: 0;
    width: 95px;
    height: auto;
    margin-right: auto;
  }

  .side-list {
    display: flex;

    &__item {
      display: flex;

      .side-btn {
        width: 30px;
        height: auto;
      }
    }
  }
}

.mable-gnb {
  z-index: 99;
  padding-left: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.gnb-list {
  display: flex;
  align-items: center;
  height: 55px;

  &__item {
    flex-shrink: 0;

    .gnb-btn {
      display: inline-block;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #c5c8cb;
    }

    &.is-on {
      .gnb-btn {
        color: #212121;
      }
    }

    &+li {
      margin-left: 20px;
    }
  }


}

.main-section-01 {
  &__bank {
    width: 100%;
    height: get-vw(672, $viewport-s);
  }

  &__alert {
    height: get-vw(140, $viewport-s);
  }

  &__banner {
    height: get-vw(320, $viewport-s);
  }
}

.main-section-02 {
  padding-top: 24px;
  padding-bottom: 32px;
  border-bottom: 14px solid #f1f2f6;

  &__title {
    position: relative;
    margin: 0 20px;

    img {
      width: 90px;
      height: 20px;
    }

  }

  &__contents {
    .contents-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 24px;

      img {
        object-fit: contain;
      }

      .img {
        display: block;
        margin: 0 20px;

        &--text {
          width: 155px;
          height: 73px;
        }

        &--graph {
          width: 100px;
          height: 78px;
        }
      }
    }

    .contents-article {
      padding-top: 21px;

      .article-btn {
        margin-left: 20px;

        .text {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #9da0a3;

          &::after {
            content: "";
            display: inline-block;
            width: 10px;
            height: 6px;
            background: url("/public/mAble/mable_main02_article_arrow.jpg") no-repeat 50% 0/cover;
            margin-left: 7px;
          }
        }

        &.is-on {
          .text {
            color: #211212;

            &::after {
              background: url("/public/mAble/mable_main02_article_arrow_open.jpg") no-repeat 50% 0/cover;
            }
          }
        }
      }

      .article-list {
        display: none;
        background-color: #f8f8f9;
        padding: 0 20px;

        &.is-on {
          margin-top: 14px;
          display: block;
        }

        &__item {
          padding: 20px 0;
          font-size: 0;

          &+li {
            border-top: 2px solid #edf0f3;
          }
        }

        .article-title {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #4d5053;
        }

        .article-info {
          display: inline-block;
          padding-top: 6px;
          font-size: 11px;
          letter-spacing: -0.05em;
          font-weight: 500;
          color: #9da0a3;

          &--date {
            &::before {
              content: "";
              display: inline-block;
              width: 2px;
              height: 8px;
              background-color: #c5c8cb;
              margin: 0 8px;
            }
          }
        }
      }
    }

    &.contents--abroad {
      .contents-info {
        .img {
          &--text {
            width: 183px;
          }
        }
      }
    }
  }
}

.main-section-03 {
  padding-bottom: 24px;

  &__detail {
    margin: 24px auto 0;
    width: get-vw(960, $viewport-s);
    height: get-vw(120, $viewport-s);
  }

  .menu-list {
    margin-left: 20px;
  }

  .main-section-03__swiper {
    margin-left: 20px;
    @include vw-s(height, 800);
    margin-top: 24px;
  }

  .swiper-slide {
    @include vw-s(width, 800);

    &:last-child {
      margin-right: 20px;
    }
  }
}

.main-banner-01 {
  height: get-vw(380, $viewport-s);
}

.main-section-04 {
  border-bottom: 14px solid #f1f2f6;
  box-sizing: border-box;

  .menu-list {
    margin-left: 20px;
  }

  &__contents {
    margin: 24px 20px;

    .contents-img {
      margin-top: 24px;
      height: get-vw(632, $viewport-s);
    }

    .contents-link {
      margin-top: 24px;
      height: get-vw(122, $viewport-s);
    }
  }

}

.rank-section {
  border-bottom: 14px solid #f1f2f6;
  box-sizing: border-box;
  padding-bottom: 24px;

  .menu-list {
    margin-left: 20px;
  }

  .ranking-list {
    margin: 0 20px;

    &__item {
      margin-top: 31px;
      display: flex;

      .text {
        font-size: 15px;
        letter-spacing: -0.05em;
        color: #212121;
        font-weight: bold;

        &--name {
          margin-left: 14px;
        }

        &--num {
          margin-left: auto;
          color: #ff4a59;
        }
      }
    }

    &.rank-row {
      .ranking-list__item {
        .text {
          &--num {
            color: #5676ff;
          }
        }
      }
    }
  }
}

.footer {
  position: relative;

  .footer-gnb-list {
    scroll-snap-type: x proximity;
    overflow: auto;
    display: flex;
    padding: 21px 20px;
    gap: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      flex-shrink: 0;

      &:last-child {
        margin-right: 60px;
      }

      &.is-on {
        .footer-btn {
          color: #212121;
        }
      }
    }

    .footer-btn {
      font-size: 15px;
      font-weight: bold;
      color: #c5c8cb;
      letter-spacing: -0.05em;
    }
  }

  .footer-menu {
    display: block;
    position: absolute;
    top: 0%;
    right: 0;
    width: 60px;
    height: 100%;
    background: url("/public/mAble/mable_footer_menu_icon.jpg") no-repeat 50% 50% #ffdc00;
    background-size: 20px 17px;
  }
}

.main-section-07--abroad {
  padding: 24px 20px;
  border-bottom: 14px solid #f1f2f6;

  .section__title {
    margin: 0;
  }

  .main-section-07__contents {
    margin-top: 31px;
    width: 236px;
    height: 171px;
  }
}
